image:
  repository: amazon/aws-for-fluent-bit
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

clusterName: ""
region: ""
httpServer: ""
httpPort: ""
readHead: ""
readTail: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

securityContext: {}

resources: {}
  # limits:
  #   memory: 200Mi
  # requests:
  #   cpu: 200m
  #   memory: 200Mi

nodeSelector: {}

tolerations: {}
# - key: "dedicated"
#   value: "operations"
#   effect: "NoSchedule"

affinity: {}