apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-cluster-info
  namespace: amazon-cloudwatch
  labels:
    {{- include "cloudwatch-agent-for-log.labels" . | nindent 4 }}
data:
  cluster.name: "{{ .Values.clusterName }}"
  http.port: "{{ .Values.httpPort }}"
  http.server: "{{ .Values.httpServer }}"
  logs.region: "{{ .Values.region }}"
  read.head: "{{ .Values.readHead }}"
  read.tail: "{{ .Values.readTail }}"